.RightSide {
    display: flex;
    align-items: center;

}
.link {
    padding: 20px;
    text-decoration: none;
    color: #21282E;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
