.Navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color:#000;
    justify-content: space-between;
}
/* .LeftSide {
    background-color: rgb(228, 32, 32);
}
.RightSide {
    background-color: rgb(228, 32, 32);
} */
